<% @secrets.each do |secret| %>
    <p>
        <%= secret.content %>
    </p>
    <p>
        <%= secret.likes.count %> likes
    </p>
    <% if current_user==secret.user %>
        <form action="/secrets/delete/<%= current_user.id %>" method="post">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="hidden" name="secret_id" value="<%= secret.id %>">
            <input type="submit" value="Delete Secret">
        </form>
        <form action="/likes/<%= secret.id %>" method="post">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="hidden" name="user_id" value="<%= current_user.id %>">
            <input type="submit" value="Like">
        </form>
        <form action="/likes/<%= secret.id %>" method="post">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="hidden" name="user_id" value="<%= current_user.id %>">
            <input type="hidden" name="_method" value="delete">
            <input type="submit" value="Unlike">
        </form>

        <% end %>
            <% end %>