<form action="/users/<%= @user.id %>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="patch">
    <input type="text" name="Name" value="<%= @user.name %>">
    <input type="email" name="Email" value="<%= @user.email %>">
    <input type="password" name="Password">
    <input type="password" name="Password_Confirmation">
    <input type="submit" value="Update">
</form>

<form action="/users/<%= @user.id %>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Account">
</form>
<% if flash[:errors] %>
    <% flash[:errors].each do |e| %>
        <%= e %>
            <% end %>
                <% end %>